<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <article>
            <div class="container">
                Welcome to RWG!
            </div>
        </article>
        <% include ../partials/footer %>
    </body>
</html>
