<!DOCTYPE html>
<html>
    <head>
        <title>RWG</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <article>
            <div class="background_image">
                <div class="title_text_overlay">
                    <h1>Red White Green</h1>
                    <p>A chrome extension for better education.</p>
                    <br /><br /><br />
                    <a href="https://github.com/SnapKomodoDragon/GreenWhiteRed/archive/master.zip" class="btn btn-success btn-lg btn-download" role="button">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        Download chrome extension
                    </a>
                </div>
            </div>
            <div class="container">
                <div class="col-md-4">
                    <h3 class="text-center">Effective collaboration</h3>
                    <p class="text-justify">
                        RWG is designed to complement the interactions between
                        the students and the teacher and speed up on tasks that
                        would normally take more time for all students to be
                        on one page.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Provides help who need the most</h3>
                    <p class="text-justify">
                        RWG helps teachers help struggling students to
                        learn new knowledge faster. RWG aims to close the 
                        educational gap in between students.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Efficient and simple to use</h3>
                    <p class="text-justify">
                        We know that new technologies takes time for teachers
                        to learn. The foundation of RWG is to help accelerate
                        learning for students as well as teachers, and a part
                        of it is designing the usablity of this product.
                    </p>
                </div>
            </div>
        </article>
        <% include ../partials/footer %>
    </body>
</html>
