<!doctype html>
<html>
  <head>
    <title>Getting Started Extension's Popup</title>
    <% include ../partials/head %>
  </head>
  <body>
  <% include ../partials/header %>
  <div id="container">
    <p class="title">Teacher Login</p>
    <div id="content-container">
      <div id="email">
        Email <br><br> <input type="text" name="email" id="emailInput"></input>
        <br>
        <br>
        <input type="submit" name="submit"></input>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  </body>
</html>
