<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles/teacher.css">
	<title>Dashboard</title>
</head>
<body>
	<div id="container">
		<div id="head">
		</div>
		<div id="body">
			<table>
				<thead>
					<th>
						Student
					</th>
					<th>
						Status
					</th>
				</thead>
				<tbody>
					<td>
						Test
					</td>
					<td>
						Red
					</td>
				</tbody>

			</table>
		</div>
		<div id="foot">
			Created for Hack | JMSS by Josh Paul, Johann Ashton, Matthew Doyle, Prateek Pillai, and Saurabh Joshi
		</div>
	</div>
</body>
</html>