html {
    position: relative;
    min-height: 100%;
}

body {
	margin: 0px;
	margin-bottom: 60px;
	padding: 0px;
}

#container {
	top: 50%;
	width: 50%;
	height: 400px;
	background-color: #FFF;
	border: 2px solid #0090FF;
	margin: 0 auto;
	transform: translateY(50%);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,2989d8+0,2989d8+0,2989d8+0,7db9e8+100 */
	background: #2989d8; /* Old browsers */
	background: -moz-linear-gradient(top, #2989d8 0%, #2989d8 0%, #2989d8 0%, #2989d8 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2989d8 0%,#2989d8 0%,#2989d8 0%,#2989d8 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2989d8 0%,#2989d8 0%,#2989d8 0%,#2989d8 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 1px 1px 5px 5px rgba(0, 0, 0, 0.50);
}

.title {
	margin: 1em;
	font-family: 'Roboto', arial;
	font-size: 24pt;
	background: #297090;
	color: #FFFFFF;	
	text-align: center;
	box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.75);
}

#content-container {
	width: 90%;
	height: 70%;
	margin: 0 auto;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
}


#email {
	width: 200px;
	height: 50%;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-top: 80px;
	text-align: center;
}

#emailInput {
	width: 200px;
	height: 20px;
}

.background_image {
    /* image source: https://stock.tookapic.com/photos/16077 */
    background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.7)
    ),
    url("/images/lights-night-unsharp-blured.jpg") center,
    #000;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    line-height: 400px;
    margin: 2em 0;
}

.title_text_overlay {
    color: white;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

.btn-download {
    padding: 1em 2em;
}

.title_text_overlay h1 {
    font-size: 4em;
}

.btn .glyphicon {
    margin-right: 8px;
}

a .glyphicon {
    margin-right: 8px;
}

.btn.btn-icon .glyphicon {
    margin-right: 0;
}

.btn-google {
    background: url("../images/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png") no-repeat;
    width: 191px;
    height: 46px;
}

.btn-google:hover {
    background: url("../images/google_signin_buttons/web/1x/btn_google_signin_dark_focus_web.png") no-repeat;
}

.btn-google:active {
    background: url("../images/google_signin_buttons/web/1x/btn_google_signin_dark_pressed_web.png") no-repeat;
}

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
